
table {
  width: 800px;
}
th {
  text-align: left;
}
table,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
}
th,
td {
  padding: 15px;
}
tr:nth-child(even) {
  background-color: whitesmoke;
}
tr:nth-child(odd) {
  background-color: white;
}
body {
  background-color: lightpink;
}
th {
  background-color: red;
  color: white;
}
#lunch {
  writing-mode: vertical-lr;
  text-align: center;
  text-orientation: upright;
}

.courses-menu-item {
  display: flex;
  gap: 5px
}

.profile-icon {
    padding: 2px;
    background-color: red;
    border-radius: 50%
}

.content {
  text-align:left;
}